[Unit]
Description=Gunicorn Service for Colosseum Website
After=network.target

[Service]
Type=simple
User=devops
Group=devops
WorkingDirectory={{ install_folder }}/colosseum_website
Environment="DJANGO_SETTINGS_MODULE=colosseum_website.settings.{{ environment_name }}"
ExecStart={{ install_folder }}/pyenv/shims/python3 -m poetry run gunicorn \
    colosseum_website.wsgi \
    --bind=unix:{{ install_folder }}/colosseum_website/gunicorn.sock \
    --keep-alive 10 \
    --preload \
    --timeout 30 \
    --worker-class sync \
    --workers {{ gunicorn_worker_count | default('2') }}
Restart=on-failure
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target